.list-parent .list-row {
  display: flex;
  flex-flow: column nowrap;
  height: 80vh;
  justify-content: space-between;
}

.list-row::after, .list-row::before {
  content: none;
} 

.list-parent {
  background: #ECECEC;
  padding: 5px;
}

